 <section class="border-white/20  border-y">
        <div class="text-white mx-auto">
          <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
            <div class="w-full justify-between grid">
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
              </div>
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
              </div>
            </div>
            <div
              class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap">
              
              storytelling <span class="hidden lg:inline">✺</span>
              content strategy <span
                class="hidden lg:inline">✺</span
              > 
              multimedia production  <span class="hidden lg:inline">✺</span> 
              Visual Design <span
                class="hidden lg:inline">✺</span
              >
              Full-Stack Development <span class="hidden lg:inline">✺</span> 
              Database Management <span
                class="hidden lg:inline">✺</span
              > 
              Technical writing <span class="hidden lg:inline">✺</span>
              Project management <span
                class="hidden lg:inline">✺</span
              > 
              Collaboration  
              
            </div>
          </div>
        </div>
      </section>