<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Energetic contributor to the open-source community with a love for content creation.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        As a developer and content creator with a focus on technical writing, I excel in crafting and disseminating information for tech-savvy communities. 
        <br>
        <br>
        Using a blend of programming expertise and narrative skills, I design and develop websites that not only showcase the unique journey of tech startups but also engage effectively with a targeted audience. 
        
      </p>
    </div>
  </div>
</section>
